body {
	background: #BBB;
	font-size: 14px;
}

.well {
	background: #DDD;
}

h1 {
	text-align: center;
	font-size: 200%;
}

h2 {
	text-align: center;
}

.well#toQuiz {
	cursor: pointer;
}

input[type="text"], button {
	border-radius: 5px;
	padding: 5px 10px;
}

input[type="text"] {
	width: 500px;
	border-style: groove;
	background: #E6CEBB;
}

@media (min-width: 800px) {

	form {
		display: table;
		border-spacing: 10px;
		margin: 0 auto;
	}
	
	div.tableRow {
		display: table-row;
	}
	
	div.tableCell {
		display: table-cell;
	}
	
	div.tableCell:first-child {
		text-align: right;
	}

	form
}

@media (max-width: 768px) {
	body {
		font-size: 14px;
	}
	input[type="text"] {
		width: 250px;
		padding: 2px;
	}
	div.tableCell label {
		margin: 0;
	}
	div.tableRow {
		margin: 2px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		padding: 5px;
		background: linear-gradient(10deg, green, #99CCCC) no-repeat;
	}
	div.tableCell {
		width: 100%;
		text-align: center;
	}
	div#buttonHolder {
		border: none;
	}
}
