#showAnswer {
    display: none;
}

#correctAnswer {
    display: none;
}

#advanceScreen {
    display: none;
    background-color: #82CAFA;
}

#quiz, #summary {
    display: none;
}

.well h1 {
    text-align: center;
    margin: 0 auto;
}
