body {
	font-size: 16px;
}

.well {
	padding: 0.5em;
}

h1 {
	font-size: 150%;
}

#showAnswer {
	display: none;
}

#correctAnswer {
	display: none;
}

#advanceScreen {
	display: none;
	background-color: #82CAFA;
}

#quiz, #summary {
	display: none;
}

.well h1 {
	text-align: center;
	margin: 0 auto;
}

.summItem {
	margin-top: 0;
	margin-bottom: 0;
	height: 100%;
}

#summKey, #summKey.well {
	margin-bottom: 0;
}
